<% include partials/menu %>
<div class="ui container">
    <h1 class="ui centered header">Photos!</h1>
    <table class="ui celled table">
            <th>photo</th>
            <th>name</th>
            <th>description</th>
    <% alldata.forEach(function(photo) { %>
        <tr>
        <td><img src="<%= photo.file %>"></td>
        <td><%= photo.name %></td>
        <td><%= photo.description %></td>
        <form action="/toggle" method="post">
        <input type="hidden" name="id" value="<%= photo.id %>">
        <td><button type="submit" name="state" value="<%= photo.state %>" class="ui <% if (!photo.state){ %> 
                red
            <% } %> button">
            
            <% if (photo.state){ %> 
                Active 
            <% } else{ %>
            Not Active 
            <% } %>
        
        </button></td>
        </form>
        </tr>
        <% }); %>
    </table>
    <div class="section">
        <div class="ui grid">
        </div>
    </div>
    </div>
    <%- exposeLocalsToBrowser(); %>